[submodule "thirdparty/boost-cmake"]
	path = thirdparty/boost-cmake
	url = https://github.com/Orphis/boost-cmake

[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/commontk/zlib

[submodule "thirdparty/Porter2"]
	path = thirdparty/Porter2
	url = https://github.com/MrFransis/Porter2

[submodule "thirdparty/cli"]
	path = thirdparty/cli
	url = https://github.com/daniele77/cli

[submodule "thirdparty/stxxl"]
	path = thirdparty/stxxl
	url = https://github.com/nomonosound/stxxl
