[submodule "thirdparty/boost-cmake"]
	path = thirdparty/boost-cmake
	url = https://github.com/Orphis/boost-cmake

[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/commontk/zlib
